NAME =
USER =
PASSWORD =
HOST =
PORT =
EMAIL_HOST = добавьте адрес SMPT-сервера
EMAIL_PORT = добавьте порт SMPT-сервера
EMAIL_HOST_PASSWORD = добавьте пароль для аутентификации на SMPT-сервере
EMAIL_HOST_USER = добавьте имя пользователя для аутентификации на SMPT-сервере