{% extends 'blog/base.html' %}

{% block title %}Статья{% endblock %}

{% block content %}
{% include 'blog/menu.html' %}



<div class="col-10">

 <div class="container">
     <h3>{{ object.title }}</h3>
     {% if object.preview %}
     <img src="{{ object.preview.url }}">
     {% else %}
     <img src="#">
     {% endif %}
     <h6>{{ object.content }}</h6>
</div>

  <div class="d-grid col-12 mx-auto"><a href="/blog/posts_list/">
              <button class="btn btn-outline-primary" type="button">Назад</button></a>
            </div>

  </div>
{% endblock %}

