{% extends 'base.html' %}

{% block title %}Информация о товаре{% endblock %}


{% block content %}
{% load my_tags %}
    <div class="card" style="width: 15rem;">
    <div class="card-header bg-body-secondary">
      <h5>{{ product_name }}</h5>
    </div>
<img src="{{ product_image | media_filter }}" class="card-img-top" alt="...">
    <div class="card-body">
    <h3 class="card-title">{{ product_price }} руб.</h3>
    <p class="card-text"><h6>{{ product_description|truncatechars:100 }}</h6></p>
    <div class="d-grid col-12 mx-auto">
      <button class="btn btn-outline-primary" type="button">Купить</button>
    </div>
    </div>
  </div>
{% endblock %}

