{% extends 'catalog/base.html' %}

{% block title %}Главная{% endblock %}



{% block content %}
{% include 'catalog/menu.html' %}
<div class="col-10">
  <div class="container text-center">
<h4>Список продуктов</h4>
  <div class="text-start">
  <div class="row align-items-center">
<div class="container">
<div class="row row-cols-3">
    {% for product in object_list %}
     <div class="col">
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">{{ product.product_name }}</h5>
        <p class="card-text">{{ product.product_description | truncatechars:100 }}</p>
            <a href="/product_info/{{ product.id }}" class="btn btn-primary">Подробнее</a>
    </div>
</div>
     </div>
    {% endfor %}
</div>
</div>
</div>
</div>
</div>
{% endblock %}
